@use 'utils'as *;

.contacts {
  @include reset-paragraph;
  @include reset-address;

  .contacts__label-wrapper {
    padding: 26px 20px 26px 20px;
    display: flex;
  }

  .contacts__label-slogan {
    font-size: 16px;
    line-height: 20px;
    font-family: $accent-font-family;
    text-transform: uppercase;
  }

  .contacts__label-address {
    line-height: 20px;
  }

  .contacts__map {
    width: 100%;
  }
}
