@use "utils" as *;
@use "fonts" as *;

.contacts {
  @include reset-paragraph;
  @include reset-address;

  .contacts__label-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .contacts__label-slogan {
    font-size: 16px;
    line-height: 20px;
    font-family: $accent-font-family;
    text-transform: uppercase;
  }

  .contacts__label-address {
    line-height: 20px;
  }

  .contacts__map {
    width: 100vw;
    height: 362px;
    margin-left: calc(-1 * var(--main-container-horizontal-padding));
    border: none;
  }
}
