@use "colors" as *;
@use "fonts" as *;
@use "global" as *;
@use "utils" as *;

.main-nav {
  @include reset-list;
  margin-left: calc(-1 * var(--main-container-horizontal-padding));
  margin-right: calc(-1 * var(--main-container-horizontal-padding));
  position: absolute;
  top: $mobile-header-height;
  left: 0;
  right: 0;
  z-index: 2;
}

.main-nav {
  &.main-nav--no-js {
    position: static;
  }
}

.main-nav--closed {
  display: none;
}

.main-nav--opened {
  display: block;
}

.main-nav__list {
  text-align: center;
}

.main-nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $border-gray-color;
  border-bottom: 1px solid $border-gray-color;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-left: auto;
    position: static;
    margin-left: 0;
    margin-right: 0;
    top: $mobile-header-height;
    left: auto;
    right: auto;
    z-index: 0;
    width: 440px;
  }

  .main-nav--closed {
    display: block;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  .main-nav__item {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &.main-nav__item--active {
      border-bottom: 2px solid $basic-green-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }

  .main-nav__item {
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 30px;

    &.main-nav__item--active {
      border-bottom: 2px solid $basic-green-color;
    }
  }
}
