@use "colors" as *;
@use "fonts" as *;
@use "global" as *;
@use "utils" as *;

.main-nav {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-left: auto;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 480px;
  }
}
