@use "utils" as *;
@use "colors" as *;
@use "fonts" as *;

.page__body {
  background-color: $basic-white-color;
  color: $basic-black-color;
  font-family: $regular-font-family;
  font-size: 14px;
  line-height: 18px;
}
