@use "utils" as *;
@use "colors" as *;
@use "fonts" as *;
@use "global" as *;

.catalog {
  @include reset-headers;
  @include reset-paragraph;
  @include root-container;
  background-color: $basic-white-color;
  color: $basic-black-color;

  .catalog__header {
    font-family: $accent-font-family;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    border-bottom: 1px $basic-gray-color solid;
    padding: 26px 20px 40px 20px;
  }

  .catalog__gift {
    margin: 36px 20px 35px 20px;
  }
}

.catalog__additional-products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $desktop-width) {
  .catalog__additional-products {
    flex-direction: row;
  }
}
