$page-background-color: #e5e5e5;
$basic-white-color: #ffffff;
$basic-black-color: #000000;
$basic-green-color: #68b738;
$basic-gray-color: #f2f2f2;

$regular-font-family: "Arial";
$accent-font-family: "Oswald";

@mixin reset-headers {
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: inherit;
  }
}

@mixin reset-paragraph {
  p {
    margin: 0;
  }
}

@mixin reset-address {
  address {
    font-style: normal;
  }
}

@mixin reset-link {
  a {
    color: inherit;
    text-decoration: none;
  }
}
