@use 'utils'as *;
@use 'fonts';
@use 'common/page';
@use 'common/main-header';
@use 'common/main-nav';
@use 'index/main-container';
@use 'index/advantages';
@use 'index/feed-program';
@use 'index/example';
@use 'index/program-catalog';
@use 'index/feed-program-item';
@use 'form/program-form';
@use 'form/form-main-content';
@use 'form/additional-info';
@use 'form/cat-goal';
@use 'form/cat-parameters';
@use 'form/comment';
@use 'form/form-field';
@use 'form/form-footer';
@use 'form/form-header';
@use 'form/input';
@use 'form/owner-contacts';
@use 'catalog/additional-catalog-card';
@use 'catalog/additional-products';
@use 'catalog/catalog';
@use 'catalog/gift';
@use 'catalog/main-catalog-card';
@use 'catalog/main-products';
@use 'catalog/main-catalog-secondary-card';
@use 'common/main-footer';
@use 'common/button';
@use 'common/contacts';
@use 'common/copyright';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
