@use "global" as *;

@mixin reset-headers {
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: inherit;
  }
}

@mixin reset-paragraph {
  p {
    margin: 0;
  }
}

@mixin reset-address {
  address {
    font-style: normal;
  }
}

@mixin reset-link {
  a {
    color: inherit;
    text-decoration: none;
  }
}

@mixin reset-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

@mixin root-container {
  max-width: $max-content-width;
  min-width: $min-content-width;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

@mixin debug-border($color:#ff0000) {
  border: 1px $color solid;
}
