@use "utils" as *;
@use "fonts" as *;
@use "global" as *;

.advantages {
  @include reset-headers;
  @include reset-paragraph;
  @include reset-list;
  padding-top: 20px;
  padding-bottom: 50px;
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-family: $accent-font-family;
}

.advantages__list {
  display: grid;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: none;
    grid-auto-flow: column;
  }
}
