@use "utils" as *;
@use "colors" as *;
@use "fonts" as *;
@use "global" as *;

.example {
  @include reset-headers;
  @include reset-paragraph;
  background-color: $basic-gray-color;
  color: $basic-black-color;
  padding-top: 25px;
  padding-bottom: 40px;

  .example__title {
    font-size: 36px;
    line-height: 40px;
    font-family: $accent-font-family;
  }

  .example__metrics-value {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: $accent-font-family;
  }

  .example__metrics-description {
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
  }

  .example__feed-price {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: $accent-font-family;
  }

  .example__slider-range-wrapper {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: $accent-font-family;
    display: flex;
    justify-content: center;

    span,
    input {
      display: block;
    }
  }
}
.example__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example__slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.example__slider-image-wrapper {
  position: relative;
  height: calc(var(--slider-image-height));
  width: calc(var(--slider-image-width));
}

.example__slider-image {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.example__slider-image img {
  display: block;
  margin: 0 auto;
  height: 100%;
  object-fit: scale-down;
}

.example__slider-image--overlay {
  background-color: #EAEAEA;
  z-index: 1;
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    flex-direction: row;
  }
}
