@use "utils" as *;

.feed-program {
  @include reset-headers;
  @include reset-paragraph;
  font-family: $accent-font-family;
  font-weight: 400;
  padding-top: 26px;
  padding-bottom: 20px;

  .feed-program__header {
    line-height: 36px;
    font-size: 36px;
  }

  .feed-program__slogan {
    line-height: 14px;
    text-transform: uppercase;
  }
}
