@use "colors" as *;
@use "global" as *;
@use "utils" as *;

.main-container {
  @include root-container;
  background-color: $basic-white-color;
  color: $basic-black-color;
  flex-grow: 1;
  padding: 0 var(--main-container-horizontal-padding);
}
