@use "utils" as *;
@use "fonts" as *;
@use "global" as *;

.program-catalog {
  @include reset-headers;
  @include reset-list;
  font-family: $accent-font-family;
  font-weight: 400;
}

.program-catalog__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}

@media (min-width: $tablet-width) {
  .program-catalog__list {
    row-gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program-catalog__list {
    display: flex;
    justify-content: space-between;
  }
}
